# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Firebase credentials
credentials/
*service-account*.json
firebase-service-account.json

# Generated datasets
data/raw/*
data/processed/*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db